/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* variables for the sites colors */
:root {
  --blue-color: #004b8d;
  --orange-color: #de562e;
  --light-color: #e9e9e9;
  --dark-color: #000000;
}

body {
  max-height: 100vh;
}

/* header styling */
.header {
  background-color: var(--blue-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  max-width: 15%;
  margin-left: 2vw;
}

#date {
  margin: 1vw 2vw 0 0;
}

/* pinstripe */
#pinstripe {
  height: .5vh;
  width: 100vw;
  background-color: var(--orange-color);
}

/* main area */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
  overflow: hidden;
}

/* .main > * {
  flex-basis: 100%;
} */

/* sidebar area */
.announcements-container {
  color: var(--blue-color);
  max-width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39vh;
}

.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vh 2vh 0 3vh;
}

.announcements h1,
.announcements h3 {
  margin-bottom: 2vh;
}

.announcements p {
  margin: 0 0 0 3vh;
}

.weather {
  margin-bottom: 4vh;
}

/* slide area */
.carousel-container {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1100px;
  overflow: hidden;
}

#slides {
  height: 700px;
  width: 1100px;
  object-fit: cover;
} 

.slide-area {
  /* display images as a flex row, 1 image at a time */
  margin-left: 2200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
}


/* footer */
.footer {
  font-size: 1.5rem;
  color: var(--light-color);
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  justify-content: content;
  align-items: center;
  padding: 1vh;
}

.footer img {
  max-height: 2.5rem;
  max-width: 7rem;
}

